<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AuthEngine.Properties.Settings.DB_Telemetry_UsersConnectionString" connectionString="Data Source=HOME-PC;Initial Catalog=DB_Telemetry_Users;Integrated Security=True"/>
        <add name="DB_Telemetry_UsersEntities" connectionString="metadata=res://*/DBAccess.DBUsers.csdl|res://*/DBAccess.DBUsers.ssdl|res://*/DBAccess.DBUsers.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME-PC;initial catalog=DB_Telemetry_Users;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
